In [4]:
import json

json_file_path = r"C:\Users\manish.singh\OneDrive - METRO\Documents\cursor\cursor_explore\petal\analysis_data\logs_result.json"

with open(json_file_path, "r", encoding="utf-8") as f:
    logs_data = json.load(f)

import pandas as pd

df = pd.DataFrame(logs_data)
# Display top-level columns
display(df.head())

# Parse embedded JSON in the 'message' column, if available
def parse_message(msg):
    try:
        return json.loads(msg)
    except Exception:
        return {}

message_df = df['message'].apply(parse_message).apply(pd.Series)

# Merge back to main DataFrame for easier analysis
merged_df = pd.concat([df, message_df], axis=1)

# Filter to only log entries where some contact info (phone/email) is present
leads_df = merged_df[(merged_df['phone'].astype(str).str.len() > 0) | (merged_df['email'].astype(str).str.len() > 0)]

# Quick summary statistics
print("Total log records:", len(merged_df))
print("Number of unique sessions:", merged_df['sessionId'].nunique())
print("Number of lead submissions with phone or email:", len(leads_df))
if len(leads_df):
    display(leads_df[['ts', 'eventType', 'section', 'phone', 'email']])

# Analyze which sections are most engaged before a lead is captured
if len(leads_df):
    lead_sections = leads_df['section'].value_counts()
    print("Lead section breakdown:")
    print(lead_sections)
else:
    print("No leads (phone/email) found in current logs.")

# Analyze historical lead generation vs. time (if applicable)
if 'ts' in leads_df:
    leads_df['datetime'] = pd.to_datetime(leads_df['ts'], unit='ms')
    leads_per_day = leads_df.groupby(leads_df['datetime'].dt.date).size()
    print("Leads per day:")
    leads_per_day

,projectId,TimeUTC,timestampInMs,requestPath,requestMethod,requestQueryString,responseStatusCode,requestId,requestUserAgent,environment,...,function,level,message,durationMs,region,maxMemoryUsed,memorySize,invocationId,instanceId,concurrency
0,prj_RLxeoCLjdW3zxAVcRFqmBw6BNvIL,2025-12-05 17:14:18,1764954858303,www.petalcomposting.co.in/api/log,POST,,200,fhd84-1764954858243-495391dbab22,Mozilla/5.0 (iPhone; CPU iPhone OS 18_5 like M...,production,...,/api/log,info,"{""sessionId"":""1b1a0484-94e6-43be-b3e1-de10af04...",,,,,,,
1,prj_RLxeoCLjdW3zxAVcRFqmBw6BNvIL,2025-12-05 17:14:18,1764954858243,www.petalcomposting.co.in/api/log,POST,,200,fhd84-1764954858243-495391dbab22,Mozilla/5.0 (iPhone; CPU iPhone OS 18_5 like M...,production,...,/api/log,,,8,iad1,88,2048,01KBQR3RRYYZHG5Z77KZ69N69H,kp7nZHW1dn3X,1
2,prj_RLxeoCLjdW3zxAVcRFqmBw6BNvIL,2025-12-05 17:14:14,1764954854805,www.petalcomposting.co.in/api/log,POST,,200,tf4dg-1764954854688-2f89c04b0db2,Mozilla/5.0 (iPhone; CPU iPhone OS 18_5 like M...,production,...,/api/log,info,"{""sessionId"":""a7e3d45f-c94f-47de-95f3-5e2c2590...",,,,,,,
3,prj_RLxeoCLjdW3zxAVcRFqmBw6BNvIL,2025-12-05 17:14:14,1764954854688,www.petalcomposting.co.in/api/log,POST,,200,tf4dg-1764954854688-2f89c04b0db2,Mozilla/5.0 (iPhone; CPU iPhone OS 18_5 like M...,production,...,/api/log,,,7,iad1,88,2048,01KBQR3NC35H2HXQPM66S3A4T1,kp7nZHW1dn3X,1
4,prj_RLxeoCLjdW3zxAVcRFqmBw6BNvIL,2025-12-05 17:13:58,1764954838601,www.petalcomposting.co.in/api/log,POST,,200,f489k-1764954838480-107e13dacf8a,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,production,...,/api/log,info,"{""sessionId"":""0a61356b-a157-4b32-b5ac-4f92b535...",,,,,,,

Total log records: 18
Number of unique sessions: sessionId    1
sessionId    4
dtype: int64
Number of lead submissions with phone or email: 10

,ts,eventType,section,phone,email
1,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,1.764955e+12,form_submit,order_modal,9910371599,manish.singh.mails@gmail.com
7,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN

Lead section breakdown:
section
order_modal    1
Name: count, dtype: int64
Leads per day:

C:\Users\manish.singh\AppData\Local\Temp\1\ipykernel_15872\4049734637.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leads_df['datetime'] = pd.to_datetime(leads_df['ts'], unit='ms')